{%extends 'base.html'%}
{%block content%}
<section class="about" id="about">
    <div class="content">
      <div class="title"><span>About Us</span></div>
    <div class="about-details">
      <div class="left">
        <img src="static/" alt="picture">
      </div>
      <div class="right">
        <div class="topic">About Blog</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio eos accusantium nisi voluptatum. Voluptas ea ipsa fuga beatae voluptates obcaecati, dolorem ipsum est sit praesentium error recusandae incidunt maxime reiciendis?
        </p>
    
      </div>
    </div>
    </div>
  </section>
{%endblock%}