{% extends "base.html" %}
{% block content %}

    {% load static %}

    <img src="{% static 'images/music-production-equipment.jpg' %}" alt="My Image">
    <h1>This Is My Post List</h1>
    {% for post in posts %}
        <h1>
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>    
        </h1>
        {% if post.post_image %}
        <img src="{{ post.post_image.url }}" alt="">
        {% endif %}
        
        <p class="date">
        Published {{ post.publish }} by {{ post.author }}
        </p>

        {{ post.body|truncatewords:30|linebreaks }}
        
{% endfor %}

{% include "pagination.html" with page=posts %}

{% endblock %}

